body {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/spikes.png");
}

nav {
    background-color:  #8590AA;
    border-bottom: solid #3B8BEB 3px;
}


footer {
    background-color: #8590AA;
    border-top: solid #3B8BEB 3px;
  }

#projectCard {
    border: solid #C4DBF6 2.5px;
    background-color: whitesmoke;
}

   /* Colors Used
    #8590AA -dark gray
    #B23850 -berry
    #3B8BEB -blue
    whitesmoke -white gray?
    #C4DBF6 -light blue
   */ 