@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
 body {
    background-color: lightgray;
 }

.jumbotron {
    background-image: url(https://images.pexels.com/photos/691710/pexels-photo-691710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-size: cover;
    height: 93vh;
    .insideJumbotron {
        background-color: rgba(000, 000, 000, 0.4);
        color: whitesmoke;
        width: 80vw;
        border-radius: 15px;
    }
}    


nav {
    background-color:  black;
    border-bottom: solid white 3px;
    font-family: 'Open Sans', sans-serif;
}


footer {
    background-color: black;
    border-top: solid white 3px;
    bottom: 0;
    left: 0;
    position: relative; 
    font-size: small;
    width:100%;
  }

#projectCard {
    border: solid black 2.5px;
}

#headshot {
    width: 300px;
}

#aboutMeSection {
    display: flex;
    background-color: whitesmoke;
    border: solid #C4DBF6 2.5px;
}

#navToBio {
    color: whitesmoke;
}

#navToTechnologies {
    color: whitesmoke;
}

#navToProjects {
    color: whitesmoke;
}

#navName {
    color: whitesmoke;
}


.projectCard {
    background-color: whitesmoke;
    border-radius: 2%;
    margin: 5px;
    text-align: center;
    img { 
        max-width: 100%;
        max-height: 100%;
        margin-top: 8px;
        border-radius: 2%;
    }
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }




.techLearned {
    font-size: 65px;
}

.contactMe {
    max-width: 100%;
    background-color: darkgray;   
}
