@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
 body {
    background-color: lightgray;
 }

.jumbotron {
    background-image: url(https://images.pexels.com/photos/691710/pexels-photo-691710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    height: 500px;
    .insideJumbotron {
        background-color: lightgray;
        opacity: 0.8;
    }
}    


nav {
    background-color:  black;
    border-bottom: solid white 3px;
    font-family: 'Open Sans', sans-serif;
}


footer {
    background-color: black;
    border-top: solid white 3px;
  }

#projectCard {
    border: solid black 2.5px;
}

#headshot {
    width: 300px;
}

#aboutMeSection {
    display: flex;
    background-color: whitesmoke;
    border: solid #C4DBF6 2.5px;
}

#navToBio {
    color: whitesmoke;
}

#navToTechnologies {
    color: whitesmoke;
}

#navToProjects {
    color: whitesmoke;
}

#navName {
    color: whitesmoke;
}
