@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
 body {
    background-color: lightgray;
    background-image: url(https://images.pexels.com/photos/691710/pexels-photo-691710.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-repeat: repeat;
    height: 100%;
    
 } 

nav {
    background-color:  black;
    border-bottom: solid white 3px;
    font-family: 'Open Sans', sans-serif;
}

.aboutMe {
    margin-top: 80px;
    margin-bottom: 80px;
    
    .aboutMeCard {
        background-color:whitesmoke;
        border: black solid 3px;
    }

    .headshot {
        padding-top: 7vh;
        padding-left: 15px;
        padding-right: 15px;
        }
}

.technologiesPage {
    border-top: solid black 3px;
    margin: 35px;
    padding: 20px;

    .techLearned {
        font-size: 55px;
        margin: 9px;
    }
}


.projectsAvaliable {
    border-top: solid black 3px;
    margin: 25px;
    padding: 30px;

    .projectCard {
        background-color: whitesmoke;
        border-radius: 2%;
        margin: 5px;
        text-align: center;
        border: solid black 2.5px;
       
    }
}

.pageFooter {
    background-color: black;
    border-top: solid white 3px;
    padding: 1px;
}

